<div class="container"><!--begin container-->
  <!--maincol-->
  <div class="col-lg-10 col-md-10 col-xs-12" style="margin: auto">
    <div class="mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text navbar-brand"
            style="color: red; margin: auto">Viens</h2>
      </div>
          <!--register-->
            <div class="card mdl-shadow--4dp" style="width: 30rem;">
              <div class="card-body">
                <h4 class="card-title">Don't have an account?</h4>
                <h6 class="card-subtitle mb-2 text-muted">Register</h6>
                <form action="#" class="">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name">
                    <label class="mdl-textfield__label" for="Name">Full Name</label>
                    <span class="mdl-textfield__error">Letters and spaces only</span>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name">
                    <label class="mdl-textfield__label" for="Name">Student Email</label>
                    <span class="mdl-textfield__error">Letters and spaces only</span>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="Email">
                    <label class="mdl-textfield__label" for="Email">Password</label>
                  </div>
                  <p>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                        mdl-button--accent" type="submit">
                      Register
                    </button>
                  </p>
                </form>
              </div>
            </div>
          <!--login-->
            <div class="card mdl-shadow--4dp" style="width: 30rem;">
              <div class="card-body">
                <h4 class="card-title">Login</h4>
                <form action="#" class="">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name">
                    <label class="mdl-textfield__label" for="Name">Email</label>
                    <span class="mdl-textfield__error">Letters and spaces only</span>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="Email">
                    <label class="mdl-textfield__label" for="Email">Password</label>
                  </div>
                  <p>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                        mdl-button--accent" type="submit">
                      Login
                    </button>
                  </p>
                </form>
                <a href="#" class="card-link">remember me</a>
                <a href="#" class="card-link">forget password?</a>
              </div>
            </div>
    </div>
  </div><!--end main col-->
</div><!--end container-->
