@import url('https://fonts.googleapis.com/css?family=Germania+One');
@import url('https://fonts.googleapis.com/css?family=Anton');
.navbar-brand{
  font-family: 'Germania One', cursive;
  font-size: 32px;
  color: red;
  margin-left: 10%;
}
.bg-custom{
  background-color: white;
}
.navbar-collapse > .navbar-nav{
  margin-left: auto;
  margin-right: 5%;
}
.navbar-nav {
  width: 20%;
}
.nav-item{
  width: 80%;
}
.nav-item > a {
  font-size: 14px;
  font-family: 'Archivo Narrow', sans-serif;
  margin-right: 2%;
}
.nav-item > a > span{
  font-size: 14px;
}
.nav-item > a:hover{
  color: red;
  display: block;
  border-bottom: 2px solid red;
}
